
 .d-none
{
    display:none;
} 
.checkout-billing .button-fancy-large
{
    display:none;
}
.button-fancy-large
{
    display:none;
}
/*
 * Gpay styles
 */
#google-pay-btn
{
    text-align: center; 
}
